<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
      <form class="form-inline" ng-submit="vm.load()">
          <input ng-model="vm.filterValue" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
      <a class="btn btn-outline-info" ui-sref="gasto.new">Novo registro</a>
  </nav>
  <table class="table table-striped">
      <thead>
          <tr>
              <th scope="col">Descrição Produto/Serviço</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Valor Gasto</th>
              <th scope="col">Vaca</th>
              <th scope="col"></th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="rec in vm.records">
              <td>{{rec.descricao}}</td>
              <td>{{rec.quantidade}}</td>
              <td>{{rec.preco | currency:"R$ "}}</td>
              <td>{{rec.vaca.nome}}</td>
              <td style="text-align: right">
                  <a class="btn btn-sm btn-success" ui-sref="gasto.edit({id: rec.id})">Editar</a>
                  <button ng-click="vm.excluir(rec.id)" class="btn btn-sm btn-danger" type="button">Excluir</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
