<div class="container">
    <br><h4>Dados gerais - Acompanhamento</h4><br>
        <div class="table-responsive">
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>Total de gastos até o momento</th>
                <th>Quantidade de litros produzidos</th>
              </tr>
            </thead>
            <tbody>
                  
                <td><h4><font color="red">{{vm.valorTotal | currency:'R$'}}</font></h4></td>
                <td><h4><font color="blue">{{vm.quantidadeTotal}} Litros</font></h4></td>
                                  
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel panel-info">
        
      </div>